
@{
    Layout = null;
}


@using (Html.BeginForm("Calculate", "Calculator", FormMethod.Post))
{
    <h3>Калькулятор</h3>
    @Html.TextBox("displayText", null, new { @readonly = "readonly", @style = "text-align: right;" })
    <div class="button-row">
        <button class="calc-dutton" name="ButtonInput" value="ButtonSave">M</button>
        <button class="calc-dutton" name="ButtonInput" value="ButtonNextResult">&lt;S</button>
        <button class="calc-dutton" name="ButtonInput" value="ButtonPreviousResult">S&gt;</button>
        <button class="calc-dutton" name="ButtonInput" value="ButtonClearAll">MS</button>
    </div>
    <div class="button-row">
        <button class="calc-dutton" name="ButtonInput" value="ButtonClear">C</button>
        <button class="calc-dutton" name="ButtonInput" value="ButtonDeleteChar">⌫</button>
    </div>
    <div class="button-row">
        <button class="calc-dutton" name="ButtonInput" value="^">^</button>
        <button class="calc-dutton" name="ButtonInput" value="(">(</button>
        <button class="calc-dutton" name="ButtonInput" value=")">)</button>
        <button class="calc-dutton" name="ButtonInput" value="÷">÷</button>
    </div>
    <div class="button-row">
        <button class="calc-dutton" name="ButtonInput" value="7">7</button>
        <button class="calc-dutton" name="ButtonInput" value="8">8</button>
        <button class="calc-dutton" name="ButtonInput" value="9">9</button>
        <button class="calc-dutton" name="ButtonInput" value="x">x</button>
    </div>
    <div class="button-row">
        <button class="calc-dutton" name="ButtonInput" value="6">6</button>
        <button class="calc-dutton" name="ButtonInput" value="5">5</button>
        <button class="calc-dutton" name="ButtonInput" value="4">4</button>
        <button class="calc-dutton" name="ButtonInput" value="-">-</button>
    </div>
    <div class="button-row">
        <button class="calc-dutton" name="ButtonInput" value="3">3</button>
        <button class="calc-dutton" name="ButtonInput" value="2">2</button>
        <button class="calc-dutton" name="ButtonInput" value="1">1</button>
        <button class="calc-dutton" name="ButtonInput" value="+">+</button>
    </div>
    <div class="button-row">
        <button class="calc-dutton" name="ButtonInput" value="0">0</button>
        <button class="calc-dutton" name="ButtonInput" value=",">,</button>
        <button class="calc-dutton" name="ButtonInput" value="ButtonResult">=</button>
    </div>
}



