
@{
    Layout = null;
}

<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/Site.css"/>
    <title>      
    </title>
</head>
<body>  
    <div class="Wrapper">
        <section class="screen">
            <input type="text"readonly" id="Display" value="0" style="width: 410px; height: 70px; border-radius: 20px; background-color:#ffffff; font-size:1.8rem;"/>
        </section>
        <section class="calc-buttons">
            <div class="calc-button">
                <button class="BdOperation" onclick="bSaveResult()"> 
                    M
                </button>
                <button class="BdOperation" onclick="bBeforeResult()">
                    &lt;S
                </button>
                <button class="BdOperation" onclick="bNextResult()">
                    S>
                </button>
                <button class="BdOperation" onclick="bDbClearResults()">
                    MC
                </button>
            </div>

            <div class="calc-button" style="margin-left:54px;">
                <button class="CalcOperation"style="margin-left:50px;" onclick="ClearAll()">
                    C
                </button>
                <button class="CalcDSymbol" style="font-size:1.5rem;" onclick="DeleteSymbol()">
                    DEL
                </button>
            </div>

            <div class="calc-button">
                <button class="MathOperation" onclick="bElemetAdd('^')">
                    ^
                </button>
                <button class="MathOperation" onclick="bElemetAdd('(')">
                    (
                </button>
                <button class="MathOperation" onclick="bElemetAdd(')')">
                    )
                </button>
                <button class="MathOperation" onclick="bElemetAdd('/')">
                    /
                </button>
            </div>

            <div class="calc-button">
                <button class="Numbers" onclick="bElemetAdd('7')">
                    7
                </button>
                <button class="Numbers" onclick="bElemetAdd('8')">
                    8
                </button>
                <button class="Numbers" onclick="bElemetAdd('9')">
                    9
                </button>
                <button class="MathOperation" onclick="bElemetAdd('*')">
                    *
                </button>
            </div>

            <div class="calc-button">
                <button class="Numbers" onclick="bElemetAdd('4')">
                    4
                </button>
                <button class="Numbers" onclick="bElemetAdd('5')">
                    5
                </button>
                <button class="Numbers" onclick="bElemetAdd('6')">
                    6
                </button>
                <button class="MathOperation" onclick="bElemetAdd('-')">
                    -
                </button>
            </div>

            <div class="calc-button">
                <button class="Numbers" onclick="bElemetAdd('1')">
                    1
                </button>
                <button class="Numbers" onclick="bElemetAdd('2')">
                    2
                </button>
                <button class="Numbers" onclick="bElemetAdd('3')">
                    3
                </button>
                <button class="MathOperation"onclick="bElemetAdd('+')">
                    +
                </button>
            </div>
            <div class="calc-button">
                <button class="BZero" onclick="bElemetAdd('0')">
                    0
                </button>
                <button class="comma" onclick="bElemetAdd(',')">
                    ,
                </button>
                <button class="Result" onclick="bResult('=')">
                    =
                </button>
            </div>
        </section>
    </div>
    <script>

        function bElemetAdd(value) {
            let display = document.getElementById('Display');
            display.value += value
            
        }

        function ClearAll() {
            let display = document.getElementById('Display');
            display.value = '0'
        }

        function DeleteSymbol() {
            let display = document.getElementById('Display');
            display.value = display.value.slice(0, -1);
            if (display.value === '') {
                display.value = '0';
            }
        }

        
    </script>
</body>
</html>